<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= titulo %></title>
  <link rel="stylesheet" href="/css/styles.css"> <!-- Ruta a tus estilos CSS -->
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="">Inicio</a></li>
        <li><a href="/api/heroes">Superheroes</a></li>
        <li><a href="/api/heroes/agregar">Agregar Nuevo Superheroes</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <%- body %> <!-- Aquí se inyectará el contenido de cada vista -->
  </main>

  <footer>
    <p>© 2024 - Gestión de Héroes</p>
  </footer>
</body>
</html>
